DATABASE_URL=postgres://user:password@db:5432/casa_torino?sslmode=disable
MIGRATIONS_DATABASE_URL=postgres://user:password@localhost:5433/casa_torino?sslmode=disable
FRONTEND_URL=https://casa-torino-front.vercel.app
JWT_SECRET=change-this-secret-in-production
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES=168h
BCRYPT_COST=12
PORT=8080
ENV=development
