DATABASE_URL=postgres://user:password@db:5432/casa_torino?sslmode=disable
MIGRATIONS_DATABASE_URL=postgres://user:password@localhost:5433/casa_torino?sslmode=disable
FRONTEND_URL=https://casa-torino-front.vercel.app
PORT=8080
ENV=development
